<a href="https://colab.research.google.com/github/PlanetDestroyyer/DS-Pratical-TE-AIDS/blob/main/DS_Pratical_no_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
CREATE DATABASE student_db;
USE student_db;

CREATE TABLE student (
    id INT,
    name VARCHAR(100),
    marks INT
);

INSERT INTO student VALUES (1, 'Alice', 85);
INSERT INTO student VALUES (2, 'Bob', 78);
INSERT INTO student VALUES (3, 'Charlie', 92);

SELECT * FROM student;

SELECT * FROM student WHERE marks > 80;

SELECT COUNT(*) FROM student;

SELECT AVG(marks) FROM student;